<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
      <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/proj?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <mapping class="com.entity.AbstractEntity"/>
    <mapping class="com.entity.Fizioterapeut"/>
    <mapping class="com.entity.Karton"/>
    <mapping class="com.entity.Lekarfizo"/>
    <mapping class="com.entity.Lekarpacijent"/>
    <mapping class="com.entity.Pregled"/>
    <mapping class="com.entity.Terapija"/>
    <mapping class="com.entity.Tip"/>
  </session-factory>
</hibernate-configuration>
